/* .navbar-custom {
  background-color: #A7C4A0; /* slightly greener sage */
/* } */

/* .nav-link {
  color: #ffffff !important;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding-bottom: 6px;
  position: relative;
} */

/* .nav-link.active-nav::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  bottom: -2px;
  left: 0;
  border-radius: 2px;
} */

/* .nav-icon {
  font-size: 1.25rem;
  cursor: pointer;
  color: #ffffff;
}

.logout-menu {
  background-color: white;
  border-radius: 10px;
  border: 1px solid #ddd;
} */ 
